/* .btnn {
  background-color: 	#ff8007;
  border: 0.5px solid 	#ff8007;
  border-radius: 0.6em;
  color: white;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 1em;
  padding: 1em 1.5em;
  text-transform: uppercase;
}
.btn:hover,
.btn:focus {
  color: white;
  outline: 1;
}

.first {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out,
    opacity 300ms ease-in-out;
}
.first:hover {
  box-shadow: 0 0 40px 40px 	#ff8007 inset;
  opacity: 0.5;
} */

.recordButton {
  display: inline-block;
  font-weight: bold;
  padding: 8px 10px 5px 10px;
  text-decoration: none;
  color:  rgb(68, 54, 36);
  background: rgba(252, 54, 54, 0.993);
  border: 0.5px solid rgba(252, 54, 54, 0.993);
  border-bottom: solid 4px rgba(252, 54, 54, 0.993);
  border-radius: 15px 15px 0 0;
  transition: .4s;
  text-transform: uppercase;
  /* margin-top: 2px; */
  cursor: pointer;
  font-size: 0.8rem;
}

  .recordButton:hover,
  .recordButton:focus {
    background: rgba(250, 85, 85, 0.993);
  border: 0.5px solid rgba(252, 54, 54, 0.993);
  border-bottom: solid 4px rgba(252, 54, 54, 0.993);
    color: white;
    outline: 1;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2) !important;
  }