@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300");

.card {
  width: 18rem;
}
body {
  font-family: "Nunito Sans", sans-serif;
 
  color : rgb(42, 177, 223);
}

.logindiv{
  height: 100vh;
  background-color: rgb(0, 135, 182) !important;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.logo {
  width: 100%;
  margin-bottom: 8vh;
}

.loginbutton{
  text-align: center;
}