.StockListItem {
  padding-top: 30px;
}
/*
@media only screen and (min-width: 600px) {
  .StockListItem {
   flex: 0 0 48%;
  }
}

@media only screen and (min-width: 1024px) {
  .StockListItem {
   flex: 0 0 24%;
  }
}

.StockListItem:hover {
  background-color: #fff;
  box-shadow: 0 14px 28px rgba(0,0,0,0.24), 0 10px 10px rgba(0,0,0,0.20);
}

.StockListItem > * {
  letter-spacing: 1px;
  font-weight: 500;
}
.StockListItem > * span{
  color: #757575;
  font-weight: 400;
} */

.title {
  font-weight: bold;
  font-size: 1rem;
  margin-left: 15px;
  color: white;
}

.datainfo{
  font-size: 1rem;
  color: white;
}

.stockchange{
font-weight: bold;
}