.closeside-btn {
  color: red;
  opacity: 0.5;
  cursor: pointer;
  font-size: 1em;
  border:none;
  background-color: transparent;
  outline:none;
  position: absolute;
  right: 2px;
  
 
  
}
.closeside-btn:hover{
  color: rgba(252, 54, 54, 0.993);
  opacity: 1;
}