.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.App__Title  {
  letter-spacing: 2px;
  font-weight: 300;
  text-transform: uppercase;
}

@fontface {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Roboto')
}

.SearchBar {
  height: 50px;
  width: 20%;
  margin-left: 2.5rem;
  margin-top: 2.5rem;
  
  }

  .text-input{
   
    position: relative;
    margin-top: 50px;
  }

  input[type="text"]{
      box-sizing: border-box;
      outline: none;
      text-align: center;
      border: 1px solid lightgray;
      border-radius: 3px;
      /* padding: 10px 10px 10px 100px; */
    }
    

    input[type="text"]:focus{
      padding: 10px;
      transition: all 0.1s ease-out;
      transition-delay: 0.1s;
    }
  