@import url('https://fonts.googleapis.com/css?family=EB+Garamond'); 

.App {
  width: 100vw;
  height: 100%;
  text-align: center;
  font-family: 'EB Garamond', serif;
} 

html{
  z-index: -1;
 background-color:#3b9dbf;
}
.SearchBar {
  height: 50px;
  width: 12%;
  margin-left: 2.5rem;
  margin-top: 2.5rem;
}

#SearchBox0{
  font-family: 'EB Garamond', serif;
}

.text-input {
  position: relative;
  margin-top: 50px;
}

input[type="text"] {
  box-sizing: border-box;
  outline: none;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 3px;
  /* padding: 10px 10px 10px 100px; */
}

input[type="text"]:focus {
  padding: 10px;
  transition: all 0.1s ease-out;
  transition-delay: 0.1s;
}

.top {
  background: #3b9dbf;
}
