@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300");

.App {
  height: 100%;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  color: rgb(68, 54, 36);
  font-size: 0.7rem;
}

::-webkit-scrollbar {
  width: 3px;
  height:3px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
body{
  background-color: #fffafa
}
.SearchBar {
  margin-left: 2em;
  margin-top: 2em;
  height: 50px;
  width: 150px;
  
  
}

.ms-SearchBox.root-37{
  border-radius: 15px;
}

.ms-SearchBox.is-active.root-44{
  border-radius: 15px;
}

.buttonsdiv{
  text-align: center; 
  position:relative; 
  width: 100%;


}

.recordButton{
  background: red;
  border: 0.5px solid red;
  border-bottom: solid 4px red;
}

.tickerBtn{
  cursor: pointer;
}
.themeButton{
  position: absolute; 
  left: 0;
  margin-left: 5px;
}
.holdingsButton{
  position: absolute; 
  right: 0;
  margin-right: 5px;
}


.top {
  background:rgb(0, 135, 182);
  border-bottom: 1px solid  rgb(68, 54, 36);
};
  
#SearchBox0 {
  font-family: "Nunito Sans", sans-serif;
  color: rgb(68, 54, 36);
}
.ReactTable .rt-thead.-filters input, .ReactTable .rt-thead.-filters select{
  border-radius:30px !important;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2) !important;
}
.text-input {
  position: relative;
  margin-top: 50px;
}

input[type="text"] {
  box-sizing: border-box;
  outline: none;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 3px;
  /* padding: 10px 10px 10px 100px; */
}

input[type="text"]:focus {
  padding: 10px;
  transition: all 0.1s ease-out;
  transition-delay: 0.1s;
}

.logodiv{
 padding-top:30px;
 padding-left: 20px;
}

.logoMain {
  width: 60px;
}

.label {
  height: 2rem;
  line-height: 2rem;
  bottom: 0;
  color: #999;
 
}


.portfoliotablespan{
font-weight: bold;
}
.portfoliotablediv.hide{
  width:100%;
  
}
.portfoliotablediv.show{
  width:100%;
  
}
.portfoliotable.show{
  background-color: white;
  height: 48vh;
}
.portfoliotable.hide{
 
  width:100%;
  background-color: white;
  height: 48vh;
}

.companytable{
  height: 80.7vh;
  background-color: beige;
}

.tabletitlename{
font-weight: bold;
}

.stagingtablediv.show{
margin-top:1vh; 

width:100%;
}

.stagingtablediv.hide{
  margin-top:1vh; 
 
  width:100%;
  }

.stagingtabletitlename{
  font-weight: bold;
  }

.sideBar.hide{
display:none;

transition-timing-function: ease-in;
transition: 0.2s;
transform: translateX(130%);

}

.sideBar.show{
  margin-left:5px;
  /* border-left: 1px solid  rgb(68, 54, 36); */
  
  height:80vh;
  width:30%;
  -webkit-animation: slide-left .3s ease-out;
  -moz-animation: slide-left .3s ease-out;
}

@-webkit-keyframes slide-left {
    0% { opacity: 0; -webkit-transform: translateX(100%); }   
  100% { opacity: 1; -webkit-transform: translateX(0); }
}
@-moz-keyframes slide-left {
    0% { opacity: 0; -moz-transform: translateX(100%); }   
  100% { opacity: 1; -moz-transform: translateX(0); }
}

.wrapper{
  width:100%;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}
 
.tablesdiv.hide {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  width:100%;
}

.tablesdiv.show {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  width:70%;
}

.ReactTable{
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  border-radius: 10px;  
}

.portfolioBtn{
  cursor:pointer;
}

.stagingtable{
  /* border-top: 1px solid  rgb(68, 54, 36); */
  height:30vh;
  padding-left:5px;
  padding-right:5px;
  padding-top:5px;
  background-color: white;
}

.SearchandImage{
  display: flex;
  align-items: baseline;
  width: 100%;
 
}

.timer{
  margin-left:5px;
  color:black;
 }

